<link rel="stylesheet" href="/public/css/forms/forms.css" type="text/css">
<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#editRegistar"
  style="height: 1%; margin-left: 2%;"
>
  Edit
</button>

<div
  class="modal fade"
  id="editRegistar"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editDetailModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editDetailModalLabel">Edit Lead Manager</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          style="height: 1%; margin-left: 5%;"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editRegistar" action="/ipoDetail/updateRegistar" method="POST">
            
          <input type="hidden" name="IpoDetailId" value="<%= registar?.IpoDetailId %>">
          <input type="hidden" name="IpoId" value="<%- ipoDetailsQuery?.IpoId %>">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="PreIssue">Registrar Email </label>
                <input 
                  name="RegistrarEmail" 
                  type="text" 
                  class="form-control" 
                  placeholder="Enter Registrar Email" 
                  value="<%= registar?.RegistrarEmail %>" />
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
